@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-7xl: 70px;
    --text-green-300: #85c1be;
    --bg-gray-30: #747574;
    --bg-teal-300:
    --bg-green-200: #314544
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
}
.custom-shadow {
  background: rgba(0, 0, 0, 0); /* Start with transparent background */
  /* Create a layered gradient effect */
  background-image: radial-gradient(
      at center top,
      rgba(83, 245, 234, 0.3),
      transparent 80%
    ),
    /* Outer circle */
      radial-gradient(at center top, rgba(44, 41, 41, 0.5), transparent 70%),
    /* Inner circle */
      linear-gradient(to bottom, rgba(59, 61, 62, 0.8), transparent 90%); /* Bottom fade */

  height: 50%;
  width: 90%;
  position: absolute;
  top: 0;
  filter: blur(100px); /* Adjust blur to match the image */
  z-index: 1;
  border-bottom-left-radius: 50%; /* Slightly adjusted for roundness */
  border-bottom-right-radius: 50%; /* Slightly adjusted for roundness */
}

.bg-custom-gradient {
  background: #385752;
  background: radial-gradient(at center top, #385752, #010101);
}
.bg-custom-gradient-card {
  background: #010101;
  background: linear-gradient(180deg, #010101, #444444);
  border: 2px solid #747574;
}
.custom-icon {
  height: 180px;
  width: 180px;
}
.custom-green {
  color: #85c1be;
}
.custom-grey {
  background-color: #5b5d5b;
}
.border-color {
  border: 1px solid #747574;
}
.border-green {
  border: 1px solid #85c1be;
}
.active {
  color: green;
}
.services-btn {
  background: #e6e8e6;
  background: linear-gradient(90deg, #636463, #5d5e5d);
  border: 1px solid #747574;
  color: #e6e8e6;
  font-weight: 200;
}
.services-btn:hover {
  background: #e6e8e6;
  color: black;
}
.small-icon-green {
  background-color: #314544;
  border:1px solid #85C1BE;
}
.packages-btn {
  background-color: #85C1BE;
}
.packages-btn:hover {
  background-color: white;
  color: black;
  transition: ease-in-out 0.3s;
}